.main_clients {
	background: #000;
	padding: 100px 0 205px 0;
	color: #fff;
	text-align: center;
}
.main_clients h1 {
	margin-bottom: 30px;
}
.main_clients img {
	margin-top: 10px;
	margin-left: 30px;
}
