.main_team {
	background: #000;
	text-align: center;
	padding: 100px 0 165px 0;
	color: #fff;
}
.main_team h1 {
	font-size: 44px;
	margin-bottom: 30px;
}
.photo {
	background: #d7d7d7;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 20px auto;
}
.team_cards {
	display: flex;
}
.card {
	margin: 0 40px;
}
.name {
	font-size: 20px;
	margin-bottom: 7px;
}
.position {
	font-size: 16px;
	margin-bottom: 35px;
}
.about_position {
	font-size: 14px;
}
